*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font_inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    padding: 16px 120px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav .menu a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}
.btn{
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: white;
    font-size: 16px;
}